@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 75%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

header .wrapper { width: 90.1%; }

.header-top {
  padding: 11px 0 15px;
  display: flex;
  align-items: flex-end;
}

.header-top a:hover, .header-top li:hover {
  color: #3361B6;
  transition: .3s ease-in-out;
}

h1 { 
  margin-right: 4%;
  text-indent: -9999px; 
}

h1 a { 
  width: 114px;
  float: left;
  text-indent: 0; 
}

nav { margin-right: 8.9%; }

nav li { 
  margin-right: 52px;
  color: #545353; 
  text-transform: capitalize;
}

nav a { color: #545353; }

.header-top-nav > li:last-of-type::after {
  content: "\f107";
  font-family: fontAwesome;
}

.more-list, form input { display: none; }

.header-top-right {
  display: flex;
  justify-content: space-between;
}

form { margin-right: 66%; }

.header-top-right button { 
  border-style: none;
  background-color: transparent;
  text-indent: -9999px; 
}

.header-top-right button::before { 
  content: "\f002";
  color: #ADAEAE;
  float: left;
  font-family: fontAwesome;
  font-size: 17px;
  text-indent: 0; 
  transform: rotateY(180deg)
}

.header-top-right a {
  color: #ADAEAE;
  text-indent: -9999px;
}

.header-top-right a::before {
  content: "\f07a";
  float: left;
  font-family: fontAwesome;
  text-indent: 0;
}

.header-bottom { 
  padding: 12px 0 13px;
  background-color: #3361B6; 
}

.header-bottom a, .header-bottom li { color: #CBDBEF; }
.header-bottom a { text-transform: capitalize; }

h2 { 
  margin-right: 4%;
  display: inline-block;
  font-size: 24px;
  text-transform: capitalize; 
}

.header-bottom li:hover, .header-bottom a:hover {
  color: #021849;
  transition: .3s ease-in-out;
}

.header-bottom .wrapper > ul { 
  width: 80%;
  display: inline-block; 
}

.header-bottom li ul { display: none; }

.header-bottom .wrapper > ul > li:nth-child(1)::after, 
.header-bottom .wrapper > ul > li:nth-child(2)::after {
  content: "\f107";
  font-family: fontAwesome;
}

.header-bottom li { margin-right: 6.3%; }


/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

.banner { position: relative; }

.banner-right {
  width: 27.2%;
  padding: 12px 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  text-transform: capitalize;
}

.banner-right a { color: #fff; }

.banner-right a:hover {
  color: #18A532;
  transition: .3s ease-in-out;
}

.sales-a { margin-right: 7%; }

.sales-a::before {
  content: "\f095";
  margin-right: 5px;
  font-family: fontAwesome;
  font-size: 25px;
}

.support-a::before {
  content: "\f003";
  margin-right: 5px;
  font-family: fontAwesome;
  font-size: 17px;
}

.banner .wrapper { 
  position: absolute; 
  top: 15px;
  left: 67px;
}

.banner .wrapper > a {
  padding: 10px;
  background-color: #fff;
  color: #545353;
  font-size: 15px;
  text-transform: capitalize;
}

.banner-content {
  padding: 30px 0 0 50px;
  margin: 30px 0 0 50px;
  color: #fff;
}

h3 { 
  margin-bottom: 18px;
  font-size: 35px; 
}

.banner-content p {
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 26px;
}

.ceo { 
  margin-bottom: 15px; 
  display: block;
}

.ceo::before {
  content: "-";
  width: 20px;
  margin-right: 2px;
  font-size: 30px;
  vertical-align: sub;
}

.banner-btn a {
  width: 170px;
  padding: 8px;
  border: 3px solid #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.banner-btn a img {
  width: 49px;
  height: 49px;
  margin-right: 12px;
}

.what-is-dt { background-color: #F1F2F6; }

.what-is-dt .wrapper {
  padding: 85px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #404143;
}

.what-is-dt-left { flex-basis: 60%; }
.what-is-dt-left a { color: #7090A5; }

.what-is-dt-left a:hover {
  color: #304654;
  transition: .3s ease-in-out;
}

.what-is-dt-left a::after {
  content: "\f105";
  font-family: fontAwesome;
  font-size: 20px;
}

h4 {
  margin-bottom: 16px;
  font-size: 35px;
}

h4:first-letter { text-transform: capitalize; }

h4 + p { 
  padding-right: 16%;
  margin-bottom: 18px;
  line-height: 23px; 
}

.what-is-dt figure { flex-basis: 39.5%; }

.transform {
  padding: 78px 0;
  color: #404143;
}

.transform h4 + p { 
  padding-bottom: 15px;
  border-bottom: 1px solid #A2A2A5; 
}

.transform-ul li { display: block; }

article {
  padding: 27px 0 37px;
  border-bottom: 1px solid #D3D3D3; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.transform-logo { display: flex; }
.trasform-content { color: #2B2D30; }

.transform-ul li .transform-logo::before { 
  width: 65px;
  margin-right: 18px;
  color: #3F5F9E;
  font-family: fontAwesome; 
  font-size: 60px;
}

.transform-ul li:nth-child(1) .transform-logo::before { content: "\f0c0"; } 
.transform-ul li:nth-child(2) .transform-logo::before { content: "\f0f5"; } 
.transform-ul li:nth-child(3) .transform-logo::before { content: "\f013"; } 
.transform-ul li:nth-child(4) .transform-logo::before { content: "\f187"; } 

article h5 {
  margin-bottom: 18px;
  font-size: 35px;
}

h5 + p, span + p {
  margin-bottom: 10px;
  padding-right: 10%;
  line-height: 22px;
}

article a { color: #7090A5; }
article a:first-letter { text-transform: capitalize; }
article a::after {
  content: "\f105";
  margin-left: 10px;
  font-family: fontAwesome;
  font-size: 20px;
}

article a:hover {
  color: #365FB9;
  transition: .3s ease-in-out;
}

article h5:first-letter { text-transform: capitalize; }

.resources {
  padding: 75px 0;
  background-color: #F1F2F6;
  color: #404143;
}

.resources h6 { 
  border-bottom: 1px solid #D3D3D3; 
  display: flex;
  align-items: center;
  color: #7A7979;
  font-size: 13px;
  text-transform: capitalize; 
}

.resources h6::before {
  content: "\f2ba";
  margin-right: 5px;
  font-family: fontAwesome;
  font-size: 25px;
}

h5 + span {  
  display: inline-block;
  text-transform: capitalize;
}

.resouces-left { flex-basis: 60%; }

.resouces-left span {
  margin-bottom: 20px; 
  display: block; 
}

.resources figure { 
  padding-right: 3%; 
  flex-basis: 30%;
}

.blog-post {
  padding: 40px 0 0;
  margin: 40px 0 0;
  text-align: center;
}

.blog-post a {
  padding: 13.5px 15px;
  background-color: #365FB9;
  color: #fff;
  font-size: 15px;
  text-transform: capitalize;
}

.blog-post a:hover {
  background-color: #A3A7AF;
  color: #365FB9;
  transition: .3s ease-in-out;
}

.download { 
  display: flex; 
  flex-wrap: wrap;
}

.download a {
  margin-bottom: 24px;
  color: #fff;
  font-size: 18px;
}

.download a:hover{
  color: #31CE78;
  transition: .3s ease-in-out;
}

.download-left {
  padding: 60px 155px 75px 174px;
  flex-basis: 26%;
  background-color: #3973D6;
}

.download-a { display: inline-flex;}

.download-a::before {
  content: "\f019";
  margin-right: 17px;
  font-family: fontAwesome;
}

.data::before {
  content: "\f02d";
  margin-right: 17px;
  font-family: fontAwesome;
}

.back-to-home::before {
  content: "\f104";
  margin-right: 22px;
  font-family: fontAwesome;
  font-size: 30px;
}

.download-right {
  padding: 105px 107px;
  flex-basis: 33.7%;
  background-color: #152350;
}

.download-right a { display: block; }

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

.footer-top { 
  padding: 12px 0;
  background-color: #59545A; 
  color: #fff;
  text-align: center;
}

.footer-top span:first-letter { text-transform: capitalize; }

.social {
  margin-left: 15px;
  display: inline-block;
}

.social a { 
  color: #fff;
  text-indent: -9999px; 
}

.social li a::before { 
  float: left;
  font-family: fontAwesome;
  font-size: 40px;
  text-indent: 0; 
} 

.social li:nth-child(1) a::before { content: "\f230" } 
.social li:nth-child(2) a::before { content: "\f099" } 
.social li:nth-child(3) a::before { content: "\f0e1" } 
.social li:nth-child(4) a::before { content: "\f16a" } 

.footer-bottom { 
  padding: 40px 0 0;
  background-color: #F5F0F6; 
}

.footer-bottom .wrapper {
  width: 90.1%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col-one, 
.footer-col-two, 
.footer-col-three,
.footer-col-four,
.footer-col-five,
.footer-col-six{ flex-basis: 15%; }

.footer-bottom h6 {
  margin-bottom: 15px;
  color: #59545A;
  font-weight: bold;
}

.footer-bottom a {
  margin-bottom: 16px;
  color: #59545A;
  font-size: 12px;
}

.footer-bottom a:hover {
  color: #4ADB73;
  transition: .3s ease-in-out;
}

.footer-bottom li { display: block; }
.footer-bottom a:first-letter { text-transform: capitalize; }

.footer-bottom-down {
  width: 90.1%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-bottom-down a { 
  margin-right: 24px; 
  display: flex;
  align-items: center;
}

.footer-bottom-down > a::before {
  content: "\f0ac";
  margin-right: 10px;
  font-family: fontAwesome;
  font-size: 25px;
}

.footer-bottom-down li { display: inline-block; }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  